// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.headshot{
    display: inline-block !important;
    width: 25%;
    margin-right: 1em;
    vertical-align: top;
}
.intro_text{
    display: inline-block !important;
    width: 70%;
    vertical-align: top;
}
.hello{
    margin-top: 0px !important;
    margin-bottom: 40px !important;
}
